streamlit
langchain==0.1.16
langchain-community==0.0.34
langchain-core==0.1.45
langchain-google-genai==1.0.3
langchain-text-splitters==0.0.1
google-generativeai
faiss-cpu
PyPDF2
pillow
python-dotenv
pdf2image
